aiohttp==3.8.4
aiosignal==1.3.1
async-timeout==4.0.2
attrs==23.1.0
beautifulsoup4==4.12.2
certifi==2023.5.7
charset-normalizer==3.1.0
colorama==0.4.6
contourpy==1.1.0
cycler==0.11.0
filelock==3.12.2
fonttools==4.40.0
frozenlist==1.3.3
fsspec==2023.6.0
gluonts==0.13.2
idna==3.4
Jinja2==3.1.2
kiwisolver==1.4.4
lightning-utilities==0.9.0
MarkupSafe==2.1.3
matplotlib==3.7.1
mpmath==1.3.0
multidict==6.0.4
networkx==3.1
numpy==1.25.0
orjson==3.9.1
packaging==23.1
pandas==2.0.3
Pillow==10.0.0
protobuf==3.19.6
pydantic==1.10.10
pyparsing==3.1.0
python-dateutil==2.8.2
pytorch-lightning==2.0.4
pytz==2023.3
PyYAML==6.0
requests==2.31.0
scipy==1.11.1
simplejson==3.19.1
six==1.16.0
soupsieve==2.4.1
sympy==1.12
toolz==0.12.0
torch @ file:///D:/Appdata/python-libs/torch-2.0.1%2Bcu117-cp311-cp311-win_amd64.whl#sha256=a77ba4f4b13c8b6c2c863b84a98dde2ddf1feaad5f25700d41cf3236e11d2ee8
torchmetrics==0.11.4
tqdm==4.65.0
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.3
yarl==1.9.2
